@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-zarrio-black text-zarrio-bone font-sans antialiased;
    margin: 0;
    padding: 0;
  }

  ::selection {
    @apply bg-brand-500 text-zarrio-black;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-zarrio-dark;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-600 rounded-full;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
